.body {
  font-size: 14px;
  font-family: 'Times New Roman', Times, serif;
}

.logo {
  width: 130px;
}

h1 {
  color: red;
}

.introduction_text_block {
  background-color: blue;
  color: #fff;
  width: 100px;
  margin-bottom: 120px;
}

.introduction span {
  color: red;
}

.quation_one h2 {
  background-color: green;
  color: #fff;
  font-weight: normal;
}

a {
  color: blue;
}

.quation_two h2 {
  padding: 35px;
  background-color: green;
  color: #fff;
  font-weight: normal;
}

.quation_two p {
  width: 40%;
  text-align: center;
}

input {
  border: 1px solid black;
}

ul {
  font-size: 25px;
}

li {
  border: 1px solid;
}

.finish {
  background-color: green;
  color: #fff;
  font-weight: normal;
  padding: 5px;
}
